<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>functions</title>
    </head>
    <body>
        {{range .Desh}}
            {{uc .Name}}
        {{end}}
        {{range .Vasha}}
            {{ft .Origin}}
        {{end}}
    </body>
</html>